<IfModule mod_rewrite.c>
  RewriteEngine on
  # RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<IfModule mod_php5.c>
  # This says, that application classes overload system classes. If there is 
  # company-wide repository of views and models, add path to that between 
  # application and system. If you want to move PHP files away from web,
  # make all include paths absolute and leave only index.php and assets here.
  # In Windows use semicolon (;) as path separator, in Linux use colon (:).
  php_value include_path "application;system"

  # Make our best attempt to enable short tags.
  php_value short_open_tag 1
</IfModule>
